{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "81"
        },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "next/babel"
  ]
}
