@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-heading: var(--font-sans);


  --radius: 0.625rem;
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);



   --background: 327.2727 21.5686% 10%;
    --foreground: 0 0% 98.0392%;
    --card: 325 30% 7.8431%;
    --card-foreground: 327.6923 72.2222% 92.9412%;
    --popover: 325.7143 13.7255% 10%;
    --popover-foreground: 327.6923 72.2222% 92.9412%;
    --primary: 327 37.5000% 31.3725%;
    --primary-foreground: 327.6923 72.2222% 92.9412%;
    --secondary: 327.6923 72.2222% 92.9412%;
    --secondary-foreground: 328 64.1026% 22.9412%;
    --muted: 330 16.6667% 14.1176%;
    --muted-foreground: 325.7143 3.1111% 44.1176%;
    --accent: 327.8182 45.8333% 52.9412%;
    --accent-foreground: 327.6923 72.2222% 92.9412%;
    --destructive: 358.8312 100% 69.8039%;
    --destructive-foreground: 0 0% 98.0392%;
    --border: 330 13.8889% 14.1176%;
    --input: 325.7143 13.7255% 10%;
    --ring: 327.7778 39.1304% 27.0588%;
    --chart-1: 211.9266 100% 78.6275%;
    --chart-2: 217.3404 91.2621% 59.6078%;
    --chart-3: 221.5842 86.3248% 54.1176%;
    --chart-4: 223.7500 78.6885% 47.8431%;
    --chart-5: 226.4789 69.6078% 40%;
    --sidebar: 327.2727 21.5686% 10%;
    --sidebar-foreground: 0 0% 98.0392%;
    --sidebar-primary: 327 37.5000% 31.3725%;
    --sidebar-primary-foreground: 327.6923 72.2222% 92.9412%;
    --sidebar-accent: 327.8182 45.8333% 52.9412%;
    --sidebar-accent-foreground: 327.6923 72.2222% 92.9412%;
    --sidebar-border: 330 13.8889% 14.1176%;
    --sidebar-ring: 327.7778 39.1304% 27.0588%;
    --font-sans: Lato, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Indie Flower, cursive;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.625rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@layer base {
  * {
    @apply border-border outline-none;
  }

  
  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }

  h1 {
    @apply mb-4 text-4xl font-bold;
  }

  h2 {
    @apply mb-3 text-lg font-semibold;
  }

  h3 {
    @apply mb-2 text-xs font-semibold uppercase tracking-widest text-white/40;
  }
}